/multimodule-code-coverage/main/target/
/multimodule-code-coverage/module1/target/
/multimodule-code-coverage/module1/modeul1-b/target/
/multimodule-code-coverage/module1/module1-a/target/
/multimodule-code-coverage/module1/module1-c/target/
/multimodule-code-coverage/module2/target/
/multimodule-code-coverage/module3/target/
/multimodule-code-coverage/target/
/.idea/
